<div style='white-space:pre-wrap'>
    <div class="col-md-8 col-md-offset-2">
      <div class='col-xs-12 content'>
        <h1>WI Gerrymandering Metrics</h1>
        <p>The application has two components, a Django backend as well as an Angular server to run the front end and its own backend compiler.</p>
        <h2>Prerequisites</h2>
        <ul style="margin-top: -20px; margin-bottom: -20px">
          <li>- Node v8.9.4 LTS</li>
          <li>- NPM</li>
          <li>- Angular CLI (not required but recommended)</li>
          <li>- Django</li>
          <li>- Python 3</li>
          <li>- Pip</li>
          <li>- SQLite (Usually bundled with Django Install)</li>
          <li>- GDAL</li>
        </ul>
        <h2>Running Front End</h2>
        <ol style="margin-top: -20px; margin-bottom: -20px">
          <li>Open a terminal window in angular/WIdistricting</li>
          <li>Run <code>npm install</code> to install necessary dependencies</li>
          <li>Run <code>npm start</code> for a webserver that accessible from the LAN or WAN, otherwise you can run <code>ng start</code> for local viewing. <code>ng start</code> makes the webserver only accessible from the local machine.</li>
        </ol>
        <h2>Running Backend</h2>
        <ol style="margin-top: -20px; margin-bottom: -20px">
          <li>Open a terminal window in django/WIdistricting</li>
          <li>Run <code>pip3 install django-nose nose django-cors-headers</code> to install the testing library and the cross domain authorization library. Please note that the application is currently configured to report to TeamCity, our CI utility. You may not see an output when <code>manage.py test</code> is run.</li>
          <li>Run <code>python manage.py runserver</code></li>
        </ol>
      </div>
  </div>
</div>
