<div style='white-space:pre-wrap;'>
    <div class="col-md-8 col-md-offset-2">
      <div class='col-xs-12 content' style="margin-top: 32px">
        <h2>Overview</h2>
        <p style="font-size: 1.5em !important">When it comes to redistricting, gerrymandering - the practice of establishing a political advantage for a particular party or group by manipulating district boundaries - is always something to be wary of. There are several different ways to evaluate if gerrymandering is occuring - common ways include evaluating compactness, partisan symmetry, and equal population.</p>
        <h2>Common Definitions</h2>
        <p><strong>Indentation</strong>: <em>Perimeter-area based measures of compactness</em> evaluate the indentation of district boundaries. Shapes with a smooth perimeter are more compact, while those with a contorted, squiggly perimeter are less compact.</p>
        <p><strong>Dispersion</strong>: <em>Dispersion-based measures of compactness</em> evaluate the extent to which a shape's area is spread out from a central point. For example, a circle is very compact, while a barbell is less compact.</p>
        <p><strong>Packing</strong>: Packing a party’s backers in a few districts causes their preferred candidate to win by enormous margins. All votes cast for the winning candidate above the 50% + 1 threshold for victory are wasted.</p>
        <p><strong>Cracking</strong>: Cracking a party’s supporters among many districts causes their preferred candidate to lose by relatively narrow margins. All votes cast for the losing candidate are wasted.</p>
        <h2>Compactness Measures</h2>
        <p><strong>Polsby-Popper</strong>: Measures the indentation of a district. The measure is the ratio of the area of the district to the area of a circle whose circumference is equal to the perimeter of the district.</p>
        <p><strong>Schwartzberg</strong>: Measures the indentation of a district. The measure is the ratio of the perimeter of the district to the circumference of a circle whose area is equal to the area of the district.</p>
        <p><strong>Convex Hull</strong>: Measures the dispersion of the district. The measure is the ratio of the area of the district to the area of the minimum convex polygon that can enclose the district’s geometry.</p>
        <h2>Partisan Symmetry Measures</h2>
        <p><strong>Efficiency Gap</strong>: Measures a political party’s wasted votes from packing and cracking.</p>
        <p><strong>Mean-Median Difference</strong>: Measures how much a party’s mean and median vote shares diverge. If they diverge significantly, the district is skewed in favor of one party and against its opponent.</p>
        <h2>Equal Population Measure</h2>
        <p><strong>Equal Population</strong>: Determines if all of the districts in a plan fall within a target range of population.</p>
        <h2>More Information</h2>
        <p>We think that these are great resources to learn more about gerrymandering.</p>
        <p>First, short video on gerrymandering and how to detect it: <a href="http://www.pbs.org/wgbh/nova/physics/math-gerrymander.html">http://www.pbs.org/wgbh/nova/physics/math-gerrymander.html</a></p>
        <p>Next, a blog post that explains how to measure district compactness in PostGIS. It also includes helpful illustrations on compactness metrics to help visualize how the measurements are taken. <a href="https://www.azavea.com/blog/2016/07/11/measuring-district-compactness-postgis/
">https://www.azavea.com/blog/2016/07/11/measuring-district-compactness-postgis/</a></p>
        <p>The last link includes helpful definitions of partisan symmetry metrics as well as an interactive map to learn more about historical data sets: <a href="https://planscore.org/#!2016-ushouse">https://planscore.org/#!2016-ushouse</a></p>
      </div>
  </div>
</div>
