<div class="container">
  <div class="row">
    <section class="mat-typography" style="margin-top: 20px">
      <h1 class="mat-h1">Statewide Metrics</h1>
      <p>These metrics are based on averages of aggregated district metrics</p>
    </section>
  </div>
  <div class="row">
    <div class="table-container mat-elevation-z9">
      <mat-table #table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Convex Hull Column -->
        <ng-container matColumnDef="Average Convex Hull">
          <mat-header-cell *matHeaderCellDef><span matTooltip="Measures the average dispersion of the districts"> Average Convex Hull </span></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.avg_convex_hull}} </mat-cell>
        </ng-container>

        <!-- Polsby Popper Column -->
        <ng-container matColumnDef="Average Polsyby Popper">
          <mat-header-cell *matHeaderCellDef><span matTooltip="Measures the average indentation of the districts"> Average Polsby Popper </span></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.avg_polsby_popper}} </mat-cell>
        </ng-container>

        <!-- Schwartzberg Column -->
        <ng-container matColumnDef="Average Schwartzberg">
          <mat-header-cell *matHeaderCellDef><span matTooltip="Another measure of the average indentation of the districts"> Average Schwartzberg </span></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.avg_schwartzberg}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="efficiency_gap">
          <mat-header-cell *matHeaderCellDef><span matTooltip="Measures a political party’s wasted votes from packing and cracking"> Average Efficiency Gap </span></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.efficiency_gap}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mean_median_diff">
          <mat-header-cell *matHeaderCellDef><span matTooltip="Measures how much a party’s mean and median vote shares diverge"> Mean Median Difference </span></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.mean_median_diff}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
  </div>
</div>
