<mat-toolbar>
  <span>
    <a [routerLink]="['/home']" id="logo" class="navBarItem">WIdistricting</a>
  </span>
  <span class='navbar-right fill-remaining-space'></span>
  <ul style="padding-top: 15px">
    <li class='nav-item'>
      <a [routerLink]="['/metric-guide']" id="metrics" class="navBarItem">Metrics</a>
    </li>
    <li class='nav-item'>
      <a [routerLink]="['/dev-guide']" id="guide" class="navBarItem">Guide</a>
    </li>
    <li class='nav-item'>
      <a [routerLink]="['/about']" id="about" class="navBarItem">About</a>
    </li>
  </ul>
</mat-toolbar>
