<div class='about-page' style='white-space:pre-wrap'>
    <div class="col-md-8 col-md-offset-2 about-text scroll">
      <div class='col-xs-12'>
        <h4>libdistrict</h4>libdistrict is a free open source metrics library created to help developers, researchers, and policy-makers evaluate district plans.
        <h4>WIdistricting</h4>A web application showing various district maps of Wisconsin and how they score for various gerrymandering metrics. The application has two components, a Django backend as well as an Angular server to run the front end and its own backend compiler.
    </div>
  </div>
</div>
