<div class="container" style='margin-top:64px'>
      <div class='col-xs-12 content'>
        <h2>The Project</h2>
        <p>Originally proposed by Becky Andresen, this project stems from the need for a free and open-source library for the tools necessary for gerrymandering detection.  The application (this site) is meant to educate people about some of the metrics used to detect gerrymandering as well as to provide an example to developers of how to use the library—every function in the library is used in this application (see developer guide for more).</p>
        <h2>The Team</h2>
        <p>The team consists of six CS students at the University of Wisconsin—Madison.  Everyone on the team selected this project from nearly 30 proposals because they believed this was a way to use their skills to support free and fair elections in the US.</p>
        <div class="col-md-offset-3"><img src="assets/img/IMG_6416.JPG" height="500px" width="auto"></div>
        <p><br>From left to right: Becky Andresen, Skylar O. Buono, Hitesh Sarabu, Jasmine Wang, Yash Bidasaria, Dylan Gunther </p>
        <h2>Thank You!</h2>
        <p>Special thanks to Mike Magurski for his continued support throughout the development of this project.  Thank you to PlanScore for hosting libdistrict and providing frequent and helpful input.  Finally, thank you to Azavea for input regarding the specifications for the library.  The library benefitted greatly from the clear documentation of the various metrics provided by these organizations.</p>
    </div>
</div>
